<h2 class="page-header" style="color: white;">Add Video</h2>

<form (submit)="upload()">
  <div class="form-group">
    <label style="color: white;">Name</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label style="color: white;">Slug</label>
    <input type="text" [(ngModel)]="slug" name="slug" class="form-control">
  </div>
  <div class="form-group">
    <label style="color: white;">Image</label>
    <input type="file" (change)="file2ChangeEvent($event)" placeholder="Upload file..." />

  </div>
  <div class="form-group">
    <label style="color: white;">Videos</label>
    <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
    
  </div>
  <input type="submit" class="btn btn-primary" value="Add Video">
</form>